.weather-app {
  max-width: 80%;
  margin: 30px auto;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #fdfdfd;
}

#form {
  border-radius: 10px;
  width: max-content;
  margin-top: 50px;
  position: relative;
  left: 50px;
}

.cardstyle {
  position: relative;
  left: 530px;
  top: 50px;
}

#city {
  font-weight: bold;
}

p,
h5 {
  margin-top: 10px;
  margin-bottom: -10px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#temperature {
  font-size: 25px;
  text-align: center;
}
.unit {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: small;
  position: relative;
  top: -10px;
}
nav {
  position: relative;
  top: -180px;
  left: 30px;
}

.weather-forecast {
  margin-bottom: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 16px;
}

.forecast-temperatures {
  font-size: 13px;
}

.forecast-temperature-min {
  opacity: 0.6;
}

h6 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#current-position {
  margin-left: 5px;
}

.link {
  display: block;
  text-align: center;
}
.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

ul {
  margin: -10px;
  padding: 12px;
}

li {
  list-style: none;
  font-size: 10px;
}

#description {
  font-family: "Courier New", Courier, monospace;
  margin: 10px 0 0 0;
}

#hours {
  margin: 0 auto;
}

#date {
  font-family: "Courier New", Courier, monospace;
  margin: 0 auto;
}

.source {
  font-family: Arial, Helvetica, sans-serif;
}

.App canvas {
  margin: 30px 10px 15px 30px;
}
